.venv
.idea
.cursor
consulscriptum.pack
consulscriptum_attila.pack
consulscriptum_tob.pack
.deps
build
mod
rome2_scripts
consul.log
src/consul.log
src/consul_scriptum_persistence
NUL
UIComponent

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

# Generated Docs Aliases
docs/attila.md
docs/rome2.md
docs/tob.md

# Release
release/

# Node
node_modules
package-lock.json

.DS_Store
